@model IEnumerable<HomeworkTracker.Models.Homework>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>


<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Department)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SubjectNum)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.HomeworkTitle)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DueDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DueTime)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Notes)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Importance)
        </th>
        <th></th>
    </tr>


    @foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Department)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SubjectNum)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.HomeworkTitle)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DueDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DueTime)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Notes)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Importance)
            </td>
            <td>
                @Html.ActionLink("Delete", "Delete", new { id = item.ID })
            </td>
        </tr>
    }

</table>

<p>
    <button class="btn-primary" , onclick="location.href='@Url.Action("Create", "Homework")';return false;">Add Assignment</button>
</p>
